@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'BluuNext-Bold', "Platypi", sans-serif, serif;
  text-align: center;
  cursor: url('./Leather_Gloves_icon.webp'), auto;
}

#volumeControl{
  z-index: 9999;
}

#credits{
  z-index: 99999;
}

a:hover, button:hover, p:hover{
  cursor: url('./Leather_Gloves_icon-close.webp'), auto;
}

.key:hover {
  cursor: url('./Leather_Gloves_icon-close.webp'), auto;
}
#golden-snitch:hover {
  cursor: url('./Leather_Gloves_icon-close.webp'), auto;
}

#timer-display {
  margin-top: 20px;
}

@font-face {
  font-family: 'BluuNext-Bold';
  src: url('./BluuNext-Bold.woff2') format('woff2'),
    url('./BluuNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BluuNext-Bolditalic';
  src: url('./BluuNext-Bolditalic.woff2') format('woff2'),
    url('./BluuNext-Bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BluuNext-Titling';
  src: url('./BluuNext-Titling.woff2') format('woff2'),
    url('./BluuNext-Titling.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}